<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete a product from the cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Delete a product from the cart</h1>
    <form action="#" th:action="@{/deleteFromCart}" th:object="${product}" method="post">
		 <table>
            <tr>
                <td>Select Product:</td>
                <td>
			      <select th:field="*{name}">
			      <option value=""> -- </option>
		                         <option th:each="prod : ${productList}"
		                            th:value="${prod.name}"
		                            th:utext="${prod.name}"/>
		          </select>    	 
	          <p><input type="submit" value="Delete from Cart" /> <input type="reset" value="Reset" /></p>
	        </td>
	      </tr>
	    </table>
	     
   </form>  
</body>
</html>